<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand">
          <img src="/small_logo.png" alt="Logo" width="40" height="40">
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-driver">Add Driver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/delete-driver">Delete Driver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/list-driver">List Driver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/update-driver">Update Driver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-package">Add Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/delete-package">Delete Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/list-package">List Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/update-package">Update Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/statistics">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gemini-ai">Gemini-ai</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/translate">Translate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>