<main>
    <h3 class="text-center my-2">
      Welcome to FIT2095.<br />
      The Website Name I chose is OOW, which means Only One Word.<br />
      The icon below and the icon on the navbar is something that I've created a long time ago.<br />
      The navbar above goes into different pages of the website.<br />
      The navbar also works on different aspect ratios since I've added collapse menu features.<br />
      You can test it out by resizing the web browser.<br />
      <br />
      Number of drivers in the database: {{ driverCount }}<br />
      Number of packages in the database: {{ packageCount }}<br />
    </h3>
    <img class="rounded mx-auto d-block" src="logo.png" alt="Website Logo">
  </main>